.topSection {
  background-color: rgb(11, 104, 158);
  /* background-image: url("./public/images/contour_map.svg"); */
  height: 30vh ;
  color: white;
  padding-top: 50px;
}

.searchBar {
  margin-top: -180px;
}

.searchBar input {
  width: 30%;
  height: 30px;
  border-radius: 5px;
}

.searchBar input:focus {
  border: none;
}

.searchBar button {
  height: 30px;
}

.infoBox {
  background-color: white;
  margin: 80px auto 0;
  width: 80%;
  display: flex;
  justify-content: center;
  height: 140px;
  box-shadow: 1px 2px 8px rgb(53, 53, 53);
  border-radius: 12px;
}

.infoBox h6 {
  display: inline-block;
  margin: 20px 80px;
  color: gray;
  font-size: 12px;
}